@tailwind base;
@tailwind components;
@tailwind utilities;

/* Enable vertical scrolling */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Only vertical scrolling */
}

/* Locomotive Scroll Container */
[data-scroll-container] {
  min-height: 100vh;
  overflow: visible;
}

/* Smooth scrolling behavior */
html {
  scroll-behavior: smooth;
}

/* Modern Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #5b5b5b;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #5b5b5b;
}
